<div class="container">

  <h2><%= @survey.name %></h2>

  <form action="/answers" method="post">
    <!-- When submitted, form should post '/answers' and save answers to Answers table in the DB -->
    <%@survey.questions.each do |question| %>
      <%=question.prompt  %> <%=question.id%>
      <br>
       <% question.choices.each do |choice| %>
          <input type="radio" name="<%=question.id %>" value="<%=choice.id%>"> <%= choice.content %> <%= choice.id %> 
          <br>
       <% end %> 
       <br>
     <%end %> 
     <input type="submit" value="Submit answers">  
  </form>

</div>
